<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Paciente</title>
    <link rel="stylesheet" href="/css/pages.css">
</head>
<body>
    <%- include('../../partials/header.ejs') %>
    
    <form action="/patients/edita/<%= paciente.id %>" method="post">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" value="<%= paciente.apellido %>" required>
        <br>
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" value="<%= paciente.fechaNacimiento %>" required>
        <br>
        <label for="genero">Género:</label>
        <select id="genero" name="genero" required>
            <option value="male" <% if (paciente.genero === 'male') { %>selected<% } %>>Masculino</option>
            <option value="female" <% if (paciente.genero === 'female') { %>selected<% } %>>Femenino</option>
            <option value="other" <% if (paciente.genero === 'other') { %>selected<% } %>>Otro</option>
        </select>
        <br>
        <button type="submit">Actualizar</button>
    </form>
    <a href="/patients">Volver a la lista de pacientes</a>
    
    <%- include('../../partials/footer.ejs') %>
</body>
</html>
